<div class="container">
  <div class="row">
     <app-search-pokemon></app-search-pokemon>
    <div class="col m4 s6" *ngFor="let pokemon of pokemonList">
      <div
        class="card horizontal"
        borderCard
        bd-color="#41644A"
        (click)="goToPokemon(pokemon)"
      >
        <div class="card-image">
          <img [src]="pokemon.picture" alt="{{ pokemon.name }}" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ pokemon.name }}</p>
            <p>
              <small>{{ pokemon.created | date : "dd/MM/yyyy" }}</small>
            </p>
            <span
              *ngFor="let type of pokemon.types"
              class="{{ type | pokemonTypeColor }}"
            >
              {{ type }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a
  style="position: fixed; bottom: 25px; right: 25px"
  class="btn-floating btn-large waves-effect waves-light blue z-depth-3"
  routerLink="/pokemon/add"
>
➕
</a>
